<nav class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between ml-0 p-4">
    <a href="#" class="flex items-left space-x-3 rtl:space-x-reverse">
      <h1
        class="self-left text-4xl font-semibold whitespace-nowrap dark:text-white">
        Sistema
        de NPH</h1>
    </a>

    <button type="button"
      class="flex items-center rounded-full bg-gray-800 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
      <img class="h-10 w-10 rounded-full"
        src="https://i.ibb.co/t8xY2mD/IMG-20231219-201015.jpg"
        alt="User avatar">
      <span class="text-white ml-2">Frank Gallo Sanchez</span>
    </button>
  </div>
</nav>
